.form-control.login-user {
    border: 0px solid #fff !important;
  }

  .btn-social {
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    }